*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header{
  position: relative;
  background-color: dodgerblue;
  height: 10vh;
  color: white;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
main{
  min-height: 80vh;
  background-color: #212121;
  color: white;
  padding-left: 5rem;
  padding-right: 5rem;
  text-align: justify;
  font-size: 1.8rem;
}

footer{
  background-color: midnightblue;
  height: 10vh;
  color: white;
  font-size: 1.8rem;
}